In [1]:
import pandas as pd

In [6]:
df = pd.DataFrame({"name":["Hello" , "cow" , "buffalo" , "black" , "dog"]})

In [7]:
df

      name
0    Hello
1      cow
2  buffalo
3    black
4      dog

In [4]:
from sklearn.preprocessing import LabelEncoder

In [8]:
le = LabelEncoder()
df["en_data"] = le.fit_transform(df["name"])

In [9]:
df

      name  en_data
0    Hello        0
1      cow        3
2  buffalo        2
3    black        1
4      dog        4