In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\user\Desktop\Python-Projects-master\Machiine Learning\16 SpilitTrain  and Test\Boston.csv")

In [3]:
df.head(4)

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4

In [4]:
input_data = df.iloc[ : , : -1]
output_data = df["medv"]

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
x_train , x_test , y_train , y_test = train_test_split(input_data , output_data , test_size=0.25)